<!-- scanning_tab.jinja2 -->

<div id="scanning_main" class="row-fluid">
    <div id="plotarea" style="width: 100%; height: 500px; display:none;">
    </div>
    <div id="scanning_sub" style="width: 100%; height: 500px;">  
            <div>
                <label for="scan_type">Scan Type:
                <br>
                <select id="scan_type" name="scan_type" data-bind="value: scan_type">
                    <option value="X">X-Scan</option>
                    <option value="Z">Z-Scan</option>
                </select>
                </label>
            </div>
            <div>
                <label for="direction">Direction:</label>
                <select class="span4" id="direction" name="direction" data-bind="value: scan_direction">
                    <option value="0">Positive</option>
                    <option value="1">Negative</option>
                </select>   
            </div>
            <div>
                <label for="reference">Reference diameter (mm):</label>
                <input id="reference" type="number" value="1" min="5" step="any" data-bind="value: ref_diam">
            </div>
            <div>
                <label for="length">Scan length (mm):</label>
                <input id="length" type="number" value="60" min="10" step="any" data-bind="value: scan_length">
            </div>

            <div>
                <label for="increment">Scan increments (mm):</label>
                <input id="increment" type="number" value="1" min="0.5" step="any" data-bind="value: scan_increment">
            </div>
            
            <div>
                <label for="pull_off">Pull-off distance (mm):</label>
                <input id="pull_off" type="number" value="3" min="0.2" step="any" data-bind="value: pull_off">
            </div>

            <div>
                <label for="pull_off">Scan Name (blank for date/time):</label>
                <input id="pull_off" type="text" value="0" data-bind="value: name">
            </div>

            <div>
                <label for="dooval">Ovality scanning increments:</label>
                <input id="dooval" type="number" value="0" min="0" max="20" data-bind="value: dooval"> 
            </div>

            <div>
                <label for="stl">Create STL:
                <input id="stl" type="checkbox" unchecked data-bind="checked: stl">
                </label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div style="padding-left: 10px;">
            <button id="start_scan_button" class="btn btn-primary" data-bind="click: start_scan">Start Scan</button>
            </div>
        </div>
        <div class="row;">
            <div style="padding-left: 10px;">
            <button id="stop_scan_button" class="btn btn-primary" data-bind="click: stop_scan">Stop Scan</button>
            </div>
        </div>

</div>
   